body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cabbbb;
}

.header {
    background-color: #333;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.logo {
    font-size: 3em;
    font-weight: bold;
    font-family: 'Algerian', serif;
}

.crafty {
    color: rgb(255, 255, 255);
}

.marketplace {
    color: blue;
}

#about {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    width: 80%;
    max-width: 900px;
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.about-text {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

.about-image {
    flex: 1;
    min-width: 300px;
    text-align: center;
   
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
   
}

#about h2 {
    margin-bottom: 20px;
}

#about p {
    margin-bottom: 15px;
    line-height: 1.6;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}
